@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* /end scrollbar */

body {
  margin: 0 auto;
  white-space: pre-line;
}

main {
  background-color: white;
}

/* Media queries */

/* Mobile query*/

@media screen and (max-width: 1023px) {
  .layout-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .scroll-up-button {
    display: none;
  }

  .slide-container {
    background-color: white;
  }

  .contacts-box li {
    height: auto;
    font-size: 14px;
  }
}

/* Breakpoints */

@media screen and (min-width: 1024px) {
  .layout-wrapper {
    margin-left: 2px;
    margin-right: 2px;
  }
  .bio-container {
    height: 428px;
  }

  .slide-container {
    background-color: #f3f4f6;
  }

  .contacts-box li {
    height: auto;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .layout-wrapper {
    margin-left: 23px;
    margin-right: 23px;
  }

  .bio-container {
    height: 541px;
  }
}

@media screen and (min-width: 1366px) {
  .layout-wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .layout-wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (min-width: 1536px) {
  .layout-wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (min-width: 1600px) {
  .layout-wrapper {
    margin-left: 140px;
    margin-right: 140px;
  }

  @media screen and (min-width: 1920px) {
    .layout-wrapper {
      margin-left: 300px;
      margin-right: 300px;
    }
  }
}

/* Card css */

.card-link a:hover {
  color: gray;
}

/* Gallery css */

.gallery-links a:hover {
  color: black;
}

/* Contacts */

.mailto {
  text-decoration: underline;
}

.mailto:hover {
  color: gray;
}

/* Scroll up button */

.scroll-up-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #f3f4f6;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s;
}

.scroll-up-button.visible {
  display: block;
}

/* Footer */

.footer-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-list li {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}
