@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */

html {
  scroll-behavior: smooth;
}

html, body {
  overscroll-behavior: none;
}


/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* end Scrollbar */

body {
  margin: 0 auto;
  white-space: pre-line;
}

main {
  background-color: white;
}

.layout-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.layout-wrapper {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1023px) {
  .layout-content {
    padding-left: 0;
    padding-right: 0;
  }
}
