.mailto {
  text-decoration: underline;
}

.mailto:hover {
  color: theme("colors.textTertiary");
}

.contactsContainer {
  background-color: theme("colors.backgroundPrimary");
}

@media (max-width: 767px) {
  .contactsContainer {
    height: 70vh;
  }
}
