.cardBox .project-card img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.cardBox .project-card.loaded img {
  opacity: 1;
}

.cardBox {
  background-color: theme("colors.backgroundPrimary");
}
