@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  font-family: Verdana, Tahoma, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
}

main {
  background-color: white;
}

header {
  width: 100%;
  height: 40%;
  color: #373737;
}

/* navbar */

.navbar {
  width: 100%;
}

.nav-wrapper {
  width: 100%;
}

.nav-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list li {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

.nav-list li:hover {
  color: black;
}

/* contacts */

/* .contacts-container {

width:100%;
height: 600px;


  } */

.image-container {
  height: auto;
}

.contacts-box {
  height: auto;
}

/* .responsive {
    width: 100%;
    height: auto;
  } */

.bio-box {
  height: 400px;
  overflow-y: scroll;
  padding-right: 15px;
  padding-left: 15px;
}

.bio-box h1 {
  font-size: 30px;
  padding-bottom: 5px;
}

.bio-box h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

.bio-box p {
  font-size: 13px;
  padding-bottom: 10px;
}

.slider-container {

width: 500px;

height:300px;

}



/* styles/global.css */
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide-container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 600px;
}

.slide {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Aggiungi transizione per l'opacità */
}

.slide.active {
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}



button {

padding: 15px;

}
