@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



/* html {
   font-family:Arial, Helvetica, sans-serif; 
  font-weight: 400;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} */

body {
  margin: 0 auto;
  white-space: pre-line;
}

main {
  background-color: white;
}

 .layout-wrapper {
margin-left: 300px;
margin-right:300px;
}  

@media screen and (max-width: 1400px) {
  .layout-wrapper {
    margin-left: 0;
    margin-right:0;
    }  
}

/* @media screen and (max-width: 1500px) {
  .layout-wrapper {
    margin-left: 50;
    margin-right:50;
    }  
} */

/********/

header {
  width: 100%;
  height: 40%;
  color: #373737;
}

/* Navbar */



/* .nav-wrapper {
  width: 100%;
} */

.nav-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list li {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

.nav-list li:hover {
  color: black;
}


.image-container {
  height: auto;
}

/*Contacts********/


.contacts-box li {
  height: auto;
  font-size: 18px;
}

/* .contacts-wrapper {

  width:90%;
 padding-left: 12%;
 

} */

/* @media only screen and (max-width: 1023px) {
  .contacts-wrapper {

    width:90%;
   padding-left: 0;
   
  
  }
} */

/*Bio********/

/* .bio-wrapper {

width:100%;
 padding-left: 17%;

} */

/* @media only screen and (max-width: 1023px) {
  .bio-wrapper {

    width:90%;
   padding-left: 0;
   
  
  }
} */


.bio-container {

height: 434px;}
 




 @media screen and (max-width: 1023px) {
  .bio-container {

    height: auto;
    
    }
  } 

.bio-box {
  overflow-y: scroll;
  padding-right: 15px;
  padding-left: 15px;
}

.bio-box h1 {
  font-size: 30px;
  padding-bottom: 5px;
}

.bio-box h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.bio-box h3 {
  font-size: 15px;
  padding-top:10px;
  padding-bottom: 10px;
  text-decoration: underline;
  font-weight: bold;
}

.bio-box h4 {
  font-weight: bold;
padding-bottom: 5px;
font-size: 15px;

}

.bio-box p {
  font-size: 13px;
  padding-bottom: 10px;
}

.bio-box li{

padding-bottom: 5px;
padding-top: 5px;
font-size: 13px;
list-style-type: disc;

}

.bio-box a{

  text-decoration: underline;
  
 

}

.bio-box a:hover{

  color: gray;
  
    }


    /* Card */


    .card-link a:hover{

      color: gray;
      
        }

        /* Gallery */

        .gallery-link a:hover{

          color: black;
          
            }


/* Fading animation */

.slide.active {
  opacity: 1;

  animation-name: fade;
  animation-duration: 3.5s;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

/* Slider image container */

.img-container {
  height: 80vh;
  position: relative;
}

.slider {

  position:relative;

}


.slide-container {

background-color: #F3F4F6;


}



.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  z-index: 2;
  background-color: #f3f4f667;
  border-radius: 50%;
  padding: 15px;

}

.prev {
 
  left:5px;
}

.next {
right:5px;


}

button:hover {

color: gray;

}


/*Slider********/



/* .slider-wrapper {

display:flex;
width:100%;
height:auto;

}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1980px;
}

.slide-container {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  
}

.slide {
  display: flex;
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} */

/* button {
  padding: 15px;
  

} */


