.notFoundContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: theme("colors.backgroundPrimary");
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.link {
  color: #6c757d;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
  color: #495057;
}
