.headerContainer {
  width: 100%;
  height: auto;
  background-color: theme("colors.backgroundLight");
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  position: fixed; /* Cambiato da 'relative' a 'fixed' */
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, height 0.3s ease;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Trasparente */
  height: 60px; /* Altezza ridotta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra più leggera */
}

.navWrapper {
  padding: 1rem;
  transition: padding 0.3s ease;
}

.scrolledNavWrapper {
  padding: 0.5rem 1rem; /* Ridotto quando scrollato */
}

.logoContainer {
  height: auto;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.scrolledLogoContainer img {
  height: 40px; /* Ridotto quando scrollato */
  transition: height 0.3s ease;
}


/* Navbar */


.logoContainer {
  height: auto;
  transition: box-shadow 0.3s ease-in-out;
}

.logoContainer:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navList li {
  margin: 0 1rem;
}

.navList a {
  text-decoration: none;
  color: theme("colors.primary");
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease-in-out;
}

.navList a:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  color: theme("colors.textSecondary");
  background-color: transparent;
}

.navList li.active a {
  color: theme("colors.textSecondary");
  background-color: theme("colors.backgroundGray");
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.homeIcon {
  display: none;
}

@media (max-width: 767px) {
  .homeIcon {
    display: block;
    text-align: center;
  }

  .homeIcon a {
    color: theme("colors.primary");
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: box-shadow 0.3s ease-in-out;
  }

  .homeIcon a:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    color: theme("colors.textSecondary");
    background-color: transparent;
  }

  .homeIcon.active a {
    color: theme("colors.textSecondary");
    background-color: theme("colors.backgroundGray");
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  }
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navWrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navList {
    list-style-type: none;
    display: flex;
  }

  .navList li {
    margin: 0;
  }
}

/* Mostra solo su schermi più grandi */
.notMobile {
  display: none;
}

@media (min-width: 540px) {
  .notMobile {
    display: block;
  }
}

/* Media Query per Tablet */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navWrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navWrapper {
    gap: 2rem;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .navWrapper {
    gap: 1.5rem;
  }
}
