.headerContainer {
  width: 100%;
  height: auto;
  background-color: theme("colors.backgroundLight");
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  position: fixed; /* Cambiato da 'relative' a 'fixed' */
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, height 0.3s ease;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Trasparente */
  height: 60px; /* Altezza ridotta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra più leggera */
}

.navWrapper {
  padding: 1rem;
  transition: padding 0.3s ease;
}

.scrolledNavWrapper {
  padding: 0.5rem 1rem; /* Ridotto quando scrollato */
  background-color: rgba(255, 255, 255, 0.9); /* Trasparente */
}

.logoContainer {
  height: auto;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.scrolledLogoContainer img {
  height: 40px; /* Ridotto quando scrollato */
  transition: height 0.3s ease;
}

/* Navbar */

.logoContainer {
  height: auto;
  transition: box-shadow 0.3s ease-in-out;
}

.logoContainer:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navList li {
  margin: 0 1rem;
}

.navList a {
  text-decoration: none;
  color: theme("colors.primary");
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease-in-out;
}

.navList a:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  color: theme("colors.textSecondary");
  background-color: transparent;
}

.navList li.active a {
  color: theme("colors.textSecondary");
  background-color: theme("colors.backgroundGray");
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.homeIcon {
  display: none;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .homeIcon {
    display: block;
    text-align: center;
  }

  .homeIcon a {
    color: theme("colors.primary");
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: box-shadow 0.3s ease-in-out;
  }

  .homeIcon a:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    color: theme("colors.textSecondary");
    background-color: transparent;
  }

  .homeIcon.active a {
    color: theme("colors.textSecondary");
    background-color: theme("colors.backgroundGray");
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  }

  /* Riduci la dimensione del logo su mobile e posiziona icone accanto */
  .logoContainer img {
  height: 60px; /* Dimensione ridotta su mobile per evitare che esca dal contenitore */
    max-width: 100%; /* Assicurati che il logo non superi la larghezza del contenitore */
    object-fit: contain; /* Mantieni le proporzioni dell'immagine */
  }

  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Posiziona icone a fianco */
  }

  .menuIcon {
    display: block;
    text-align: center;
  }

  .navbar {
    display: none;
     opacity: 0; /* Inizialmente nascosto e trasparente */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Aggiungi transizione per opacità e trasformazione */
  transform: translateY(-10px); /* Sposta leggermente verso l'alto */
  }

  .navbar.openMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px; /* Dipende dall'altezza dell'header */
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Sfondo trasparente */
    padding: 1rem;
    z-index: 999; /* Per sovrapporsi ai contenitori sottostanti */
    opacity: 1; /* Visibile */
  transform: translateY(0); /* Torna alla posizione originale */
  }

  .navList {
    display: block;
  }

  .navList li {
    margin: 1.5rem 0; /* Aggiungi spazio tra le voci su mobile */
  }
}

/* Mostra solo su schermi più grandi */
.notMobile {
  display: none;
}

@media (min-width: 540px) {
  .notMobile {
    display: block;
  }
}

/* Media Query per Tablet */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navWrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navWrapper {
    gap: 2rem;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .navWrapper {
    gap: 1.5rem;
  }
}
