.headerContainer {
  width: 100%;
  height: auto;
  background-color: theme("colors.backgroundLight");
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, height 0.3s ease;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navWrapper {
  padding: 1rem;
  transition: padding 0.3s ease;
}

.scrolledNavWrapper {
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.logoContainer {
  height: auto;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.scrolledLogoContainer img {
  height: 40px;
  transition: height 0.3s ease;
}

/* Navbar */

.logoContainer {
  height: auto;
  transition: box-shadow 0.3s ease-in-out;
}

.logoContainer:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navList li {
  margin: 0 1rem;
}

.navList a {
  text-decoration: none;
  color: theme("colors.primary");
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease-in-out;
}

.navList a:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  color: theme("colors.textSecondary");
  background-color: transparent;
}

.navList li.active a {
  color: theme("colors.textSecondary");
  background-color: theme("colors.backgroundGray");
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.homeIcon {
  display: none;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .homeIcon {
    display: block;
    text-align: center;
    font-size: 0.9rem;
  }

  .homeIcon a {
    color: theme("colors.primary");
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: box-shadow 0.3s ease-in-out;
  }

  .homeIcon a:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    color: theme("colors.textSecondary");
    background-color: transparent;
  }

  .homeIcon.active a {
    color: theme("colors.textSecondary");
    background-color: theme("colors.backgroundGray");
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  }

  .logoContainer img {
    height: 60px;
    max-width: 100%;
    object-fit: contain;
  }

  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menuIcon {
    display: block;
    text-align: center;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.952);
    padding: 1rem;
    z-index: 999;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }

  .navbar.openMenu {
    opacity: 1;
    max-height: 500px;
  }

  .navList {
    display: block;
  }

  .navList li {
    margin: 1.5rem 0;
  }
}

/* Media Query per Tablet */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navWrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navWrapper {
    gap: 2rem;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .navWrapper {
    gap: 1.5rem;
  }
}
