/* header.module.css */

.headerContainer {
  width: 100%;
  height: 40%;
  color: #373737;
}

/* Navbar */

.nav-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list li {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

.nav-list a:hover {
  color: black;
  background-color: #f3f4f6;
}

.image-container {
  height: auto;
}
