/* header.module.css */

.headerContainer {
  width: 100%;
  height: 156px;
  background-color: #fff; /* Add a background color to make the header stand out */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a modern look */
}

/* Navbar */

.navWrapper {
  padding: 1rem; /* Add padding for better spacing */
}

.logoContainer {
  height: auto;
  /* Keeping the logo's original size */
}

.navbar {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navList li {
  margin: 0 1rem; /* Add spacing between menu items */
}

.navList a {
  text-decoration: none;
  color: #373737;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem; /* Rounded corners for a modern look */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

.navList a:hover {
  color: #000;
  background-color: #e0e0e0; /* Lighter grey for hover */
}

.navList li.active a {
  color: #000;
  background-color: #b0b0b0d2; /* Darker grey for active state */
}