/* header.module.css */

.headerContainer {
  width: 100%;
  height: auto;
  background-color: #fff; /* Add a background color to make the header stand out */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombra leggera con offset verso il basso */
  position: relative; /* Assicurati che l'ombra sia visibile */
  z-index: 1000;
}

/* Navbar */

.navWrapper {
  padding: 1rem; /* Add padding for better spacing */
}

.logoContainer {
  height: auto;
  /* Keeping the logo's original size */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow effect */
}

.logoContainer:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Shadow on the right and bottom */
}

.navbar {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navList li {
  margin: 0 1rem; /* Add spacing between menu items */
}

.navList a {
  text-decoration: none;
  color: #373737;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease-in-out; /* Transizione morbida per box-shadow */
}

.navList a:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2); /* Ombra spostata verso il basso e verso destra */
  color: #000; /* Colore del testo */
  background-color: transparent; /* Sfondo trasparente per evitare conflitti con l'ombra */
}

.navList li.active a {
  color: #000;
  background-color: #e0e0e0;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2); /* Ombra spostata verso il basso e verso destra */
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack the items vertically */
    align-items: center;
  }

  .navWrapper {
    justify-content: center; /* Ensure the logo is horizontally centered */
    align-items: center; /* Ensure the logo is vertically centered */
    width: 100%;
  }

  .navList {
    list-style-type: none;
    display: flex;
  }

  .navList li {
    margin: 0;
  }
}

/* Mostra solo su schermi più grandi */
.notMobile {
  display: none;
}

/* Mostra a partire dal breakpoint per tablet/PC */
@media (min-width: 540px) {
  .notMobile {
    display: block;
  }
}

/* Media Query for Tablet */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column; /* Stack the items vertically */
    align-items: center; /* Center navbar items */
  }

  .navWrapper {
    justify-content: center; /* Ensure the logo is horizontally centered */
    align-items: center; /* Ensure the logo is vertically centered */
    width: 100%;
  }
}

/* Spazio tra logo e navbar su dispositivi mobili e tablet */

@media (max-width: 768px) {
  .navWrapper {
    gap: 2rem;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .navWrapper {
    gap: 1.5rem;
  }
}
