.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide-container {
  display: flex;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 80vh;
}

.sliderButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  background-color: theme("colors.backgroundDark");
  border: none;
  font-size: 35px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
  padding: 15px;
}

.prev {
  left: 5px;
}

.next {
  right: 5px;
}

.slider:hover .sliderButton {
  opacity: 1;
}

.sliderButton:hover {
  color: theme("colors.textTertiary");
}

/* Media Query per Tablet */
@media (max-width: 1024px) {
  .sliderButton {
    opacity: 1;
  }
}

/* Media Query per Mobile */
@media (max-width: 768px) {
  .sliderButton {
    opacity: 1;
  }
}
