.footerContainer {
  width: 100%;
  height: 156px;
  background-color: theme("colors.backgroundLight");
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);

  color: theme("colors.primary");
  padding: 1rem 2rem;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  align-items: center;

  li {
    padding: 0.5rem 0;
  }

  a {
    color: theme("colors.primary");
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: theme("colors.textSecondary");
      font-weight: bold;
    }
  }
}

/* Media Query per Mobile */
@media (max-width: 768px) {
  .footerContainer {
    height: auto;
    padding: 1rem;
  }

  .footerWrapper {
    flex-direction: column;
    align-items: center;
  }

  .footerList {
    flex-direction: column;
    gap: 0;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
    }
  }
}
